body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 400;
}
a,
li {
  list-style-type: none;
  text-decoration: none;
}

<!-----------------------------------header----------------------- > .logotype,
.logotype * {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.logo-left {
  color: #4d5ae5;
}
.logo-right {
  color: #2e2f42;
}
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}
.link-item:hover,
.link-item:focus {
  color: #404bbf;
}
.contact menu {
  text-decoration: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contact-mail,
.contact-number {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
.contact-number:hover,
.contact-number:focus {
  color: #404bbf;
}
<!--------------hero---------------------------------------------- > .hero {
  background: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  background: #2e2f42;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: #404bbf;
}
.potfolio-button {
  background: #f4f4fd;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}
.potfolio-button:hover {
  background: #404bbf;
  color: #ffffff;
}
.potfolio-button:focus {
  background: #404bbf;
  color: #ffffff;
}
.list-menu,
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
}
.text-menu,
.portfolio-menu {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.project .team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-content {
  background: #f4f4fd;
}
.employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.profession {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.footer-content {
  background: #2e2f42;
}
.logotype-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-footer {
  color: #4d5ae5;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}
